---
layout: posts.liquid
title: Arash Mousavi Persian Notes
---

<div class='blog content'>
  <ul class="blog-list">
    {% for post in collections.posts.pages %}
      <li>
        <div style='display: inline-block'>
          <a href="/{{ page.permalink }}">{{ page.title }}</a>
        </div>
        <span>({{ page.published_data | date: "%b %d, %Y" }})</span>
      </li>
    {% endfor %}
  </ul>
</div>
