extends: posts.liquid

title: Arash Mousavi Persian Notes
route: blog
path: /blog
---

{{ include "_layouts/_variables.liquid" }}
<div class='blog content'>
  <ul class="blog-list">
    {% for post in posts %}
      <li>
        <div style='display: inline-block'>
          <a href="/{{ post.path }}">{{ post.title }}</a>
        </div>
        <span>({{ post.date | date: "%b %d, %Y" }})</span>
      </li>
    {% endfor %}
  </ul>
</div>
