---
layout: default.liquid
title: Arash Mousavi
---
<div class='content'>
  <header>
    <h1>Arash Mousavi</h1>

    <div class='description'>
      Hi! I'm a full stack web developer
      <br />
      Ruby, Ruby on Rails, JavaScript, Elixir
    </div>
  </header>

  <section class='socials'>
    <a href={{site.data.twitter_url}} target="_blank" title='Twitter'>
      <i class='icon-twitter'></i>
    </a>

    <a href={{site.data.github_url}} target="_blank" title='Github'>
      <i class='icon-github'></i>
    </a>

    <a href={{site.data.linkedin_url}} target="_blank" title='Linkedin'>
      <i class='icon-linkedin'></i>
    </a>
  </section>
</div>
