<div class='footer'>
  <div class='footline'></div>
  <div class='icons'>
    <a href={{site.data.twitter_url}} class='float-shadow'>
      <i class='fa fa-twitter icon link'></i>
    </a>

    <a href={{site.data.github_url}} class='float-shadow'>
      <i class='fa fa-github icon link'></i>
    </a>

    <a href={{site.data.linkedin_url}} class='float-shadow'>
      <i class='fa fa-linkedin icon link'></i>
    </a>
  </div>
  <br />
  <p> &copy; Arash Mousavi</p>
</div>
