<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>

  <body class='container' data-route={{ page.permalink }}>
    {{ page.content }}
  </body>
</html>
