<!DOCTYPE html>
<html>
  <head>
    {{ include "_layouts/_head.liquid" }}
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>

  <body class='container' data-route={{ route }}>
    {{ content }}
  </body>
</html>
